{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <img src="https://res.cloudinary.com/dftwpyllt/image/upload/v1738840434/BLOODLINK_BROTHERHOOD_SOCIETY_q-e-kamil_page-0001_qmeu7m.jpg" class="img-fluid w-100">
            <img src="https://res.cloudinary.com/dftwpyllt/image/upload/v1738840429/BLOODLINK_BROTHERHOOD_SOCIETY_q-e-kamil_page-0002_n4fjy3.jpg" class="img-fluid w-100">
            <img src="https://res.cloudinary.com/dftwpyllt/image/upload/v1738840518/BLOODLINK_BROTHERHOOD_SOCIETY_q-e-kamil_page-0003_wjmofz.jpg" class="img-fluid w-100">
            <img src="https://res.cloudinary.com/dftwpyllt/image/upload/v1738840431/BLOODLINK_BROTHERHOOD_SOCIETY_q-e-kamil_page-0004_cfk9fv.jpg" class="img-fluid w-100">
            <img src="https://res.cloudinary.com/dftwpyllt/image/upload/v1738840433/BLOODLINK_BROTHERHOOD_SOCIETY_q-e-kamil_page-0005_k3xw1i.jpg" class="img-fluid w-100">
            <img src="https://res.cloudinary.com/dftwpyllt/image/upload/v1738840469/BLOODLINK_BROTHERHOOD_SOCIETY_q-e-kamil_page-0006_xzzcv7.jpg" class="img-fluid w-100">
        </div>
    </div>
</div>
{% endblock %}
